<section>
  <div class="bg-primary text-white">
  <h2 class="h5 text-center py-4">NEW CATEGORY</h2>
  </div>
  <div class="container">
  <div class="d-flex justify-content-end">
  <%= link_to "Cancel", groups_path, class: "btn btn-sm btn-secondary text-white" %>
  </div>
    <%= form_with model: @group, url: groups_path do |form| %>
      <div class="mt-2">
         <%= form.label :name, "Category Name" %>
         <%= form.text_field :name,
          placeholder: "Enter category name. Eg. Entertainment",
          class: "form-control"
         %>
      </div>
      <div class="mt-2">
        <%= form.label :icon, "Category Icon" %><span class="" data-icon-preview></span>
        <%= form.select :icon, 
            options_for_select([
            ["Rent/Mortgage", "fa-solid fa-house"],
            ["Utilities", "fa-solid fa-bolt"],
            ["Food/groceries", "fa-solid fa-carrot"],
            ["Transportation", "fa-solid fa-car"],
            ["Insurance", "fa-solid fa-house-crack"],
            ["Entertainment", "fa-solid fa-icons"],
            ["Clothing", "fa-solid fa-shirt"],
            ["Personal care", "fa-solid fa-house-medical"],
            ["Travel", "fa-solid fa-plane"],
            ["Gifts/charitable donations", "fa-solid fa-hand-holding-dollar"]
          ]), 
          { prompt: "Choose a category icon" },
          class: "form-control", 
          id: "icon-select" 
        %>
      </div>  
      <div class="d-grid">
        <%= form.submit "Create Category", 
           class: "btn bg-green text-white mt-4"
        %>
      </div>  
    <% end %>
  </div>
</section>